Benji Raison <benji.raison@brackalltron.ch> <benji.raison@competec.ch>
Benji Raison <benji.raison@brackalltron.ch> <BenjaminRaison@users.noreply.github.com>
Daniel Obrist <daniel.obrist@brackalltron.ch> <daniel.obrist@competec.ch>
Daniel Obrist <daniel.obrist@brackalltron.ch> <36664423+danielobrist@users.noreply.github.com>
Gentian Beqiraj <gentian.beqiraj@brackalltron.ch> <gentian.beqiraj@competec.ch>
Gentian Beqiraj <gentian.beqiraj@brackalltron.ch> <110968483+gbeqiraj@users.noreply.github.com>
Jordan Suter <jordan.suter@brackalltron.ch> <jordan.suter@competec.ch>
Jordan Suter <jordan.suter@brackalltron.ch> <16938311+JOrbits@users.noreply.github.com>
Lachshan <lachshan.kamalathasan@brackalltron.ch> <lachshan.kamalathasan@competec.ch>
Lachshan <lachshan.kamalathasan@brackalltron.ch> <145673715+lachshan@users.noreply.github.com>
Patrick Rüegg <patrick.rueegg@brackalltron.ch> <patrick.rueegg@competec.ch>
Raphael Stöckli <raphael.stoeckli@brackalltron.ch> <raphael.stoeckli@competec.ch>
Raphael Stöckli <raphael.stoeckli@brackalltron.ch> <79263924+cpt-rast@users.noreply.github.com>
Seraina Brand <seraina.brand@brackalltron.ch> <seraina.brand@competec.ch>
Seraina Brand <seraina.brand@brackalltron.ch> <100704254+seraina-brand@users.noreply.github.com>
Urs Stettler <urs.stettler@brackalltron.ch> <urs.stettler@competec.ch>
Urs Stettler <urs.stettler@brackalltron.ch> <urs.stettler@stettlersoftware.ch>
Urs Stettler <urs.stettler@brackalltron.ch> <45202281+UrsStettler@users.noreply.github.com>

